html,
body{
    overflow-x: hidden;
}

body {
    font-family: "Oxygen", Calibri, Arial;
    font-size: 20px;
    width: 100%;
}

h1 {
    font-size: 200%;
    margin-top: 20;
    color: #ff0000;
}

.instruction {
    font-size: 80%;
}

form {
    margin: 50px auto 0 auto;
    height: auto;
    font-size: 90%;
    width: 90%;
    background-color: #d85d05;
    padding-top: 10px;
    padding-bottom: 50px;
}

select {
    width: 259%;
}

.label {
    display: inline-block;
    float: left;
    color: #fff;
    width: 30%;
    margin-left: 5%
}

.input {
    display: inline-block;
    float: left;
    margin-left: 5%;
}

.btns {
    display: inline-block;
    margin: 30px 41.4%;
    width: 17.2%
}

input[type="submit"], input[type="reset"] {
    display: inline-block;
    background-color: #e2c5b0;
    width: 80px;
    height: 40px;
    padding: 4px;
    font-family: 'Oxygen';
    font-weight: 700;
    color: #d35901;
    font-size: 100%;
    border-radius: 50px;
    border-style: none;
    border: 3px solid #a75216;
    transition: background 0.7s, color 0.7s, transform 0.7s;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #d39b73;
    color: #b24b00;
    transform: scale(1.2);
}

input[type="submit"] {
    margin-right: 30px;
}

.retrn {
    display: inline-block;
    width: 300px;
    text-align: center;
    background-color: #e2c5b0;
    color: #d35901;
    height: 60px;
    padding: 0px 15px;
    margin: 50px 0 50px 60px;
    border-radius: 50px;
    font-weight: 700;
    border: 3px solid #a75216;
    transition: background 0.7s, color 0.7s, transform 0.7s;
}

.retrn:hover {
    background-color: #d39b73;
    color: #b24b00;
    transform: scale(1.1);
}

.retrn a {
    text-decoration: none;
}

.inptbox {
    font-family: 'Oxygen';
    font-weight: 100;
    width: 160%;
    padding: 7px;
    font-size: 80%;
    border-radius: 10%;
    background-color: #fff4ed;
}

.info {
    margin-top: 30px;
    width: 100%;
    height: 20px;
    vertical-align: middle;
}